/* =========================
   LAYOUT GENERAL
========================= */

.sceen-login {
  display: flex;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* =========================
   LADO IZQUIERDO
========================= */

.box-login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  background: linear-gradient(135deg, #16ab6a, #0f766e);

}

.login-logo {
  width: 200px;
}

/* =========================
   LADO DERECHO
========================= */

.box-login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* =========================
   CONTENEDOR FORM
========================= */

.box-froms-login {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =========================
   CARD LOGIN
========================= */

.login-card {
  background: #ffffff;
  padding: 32px;
  border-radius: 14px;
  width: 100%;
  max-width: 540px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

/* =========================
   TÍTULO
========================= */

.login-card h2 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
  color: #0f172a;
}

/* =========================
   FORMULARIO
========================= */

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* =========================
   INPUTS PRIME NG
========================= */

.login-card input[pInputText] {
  width: 100%;
}

/* =========================
   BOTÓN
========================= */

.login-card p-button {
  margin-top: 8px;
}
.login-card h2 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 300;

  background: linear-gradient(135deg, #16ab6a, #0f766e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
  .sceen-login {
    flex-direction: column;
  }

  .box-login-left {
    display: none;
  }

  .box-login-right {
    flex: 1;
  }
}
