<p-card header="Documento a firmar">
  <div
    class="pdf-container"
    (scroll)="onScroll($event)"
    [class.hidden]="loading">

    <ngx-extended-pdf-viewer
      [src]="pdfSrc"
      [textLayer]="true"
      height="800px"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showOpenFileButton]="false"
      [showSecondaryToolbarButton]="false"
      [showPresentationModeButton]="false"
      [showRotateButton]="false"
      [showHandToolButton]="false"
      (pdfLoaded)="onPdfLoaded()">
    </ngx-extended-pdf-viewer>

  </div>
</p-card>

<div *ngIf="hasReachedEnd" class="end-reached">
  ✔ Documento revisado completamente
</div>
