:host ::ng-deep .p-blockui {
  position: fixed;
  inset: 0;
  z-index: 10000;
}

.loading-overlay {
  position: fixed;           
  inset: 0;                 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(45, 45, 45, 0.6);
}

.loading-text {
  margin-top: 1rem;
  font-size: 0.99rem;
  color: var(--text-color-secondary);
}
