<p-card class="upload-card">

  <div class="upload-wrapper">

    <p-fileUpload name="documents" mode="advanced" accept="application/pdf" [multiple]="true" [maxFileSize]="5000000"
      [customUpload]="true" (uploadHandler)="onUpload($event)" [showUploadButton]="true" [showCancelButton]="false"
      styleClass="file-upload-custom">

      <!-- 👇 ESTA ES LA CLAVE -->
      <ng-template pTemplate="empty">
        <div class="drop-zone">
          <i class="pi pi-file-pdf pdf-icon"></i>
          <p class="drop-title">Arrastra y suelta tus documentos</p>
          <small class="drop-subtitle">Solo archivos PDF (máx. 5MB)</small>
        </div>
      </ng-template>

    </p-fileUpload>


  </div>

  <!-- LISTA -->
  <div class="files" *ngIf="documents.length > 0">
    <div class="file-row" *ngFor="let doc of documents; let i = index">

      <div class="file-info">
        <i class="pi pi-file-pdf file-icon"></i>
        <div class="file-text">
          <span class="file-name">{{ doc.name }}</span>
          <small class="file-size">{{ doc.size | number }} bytes</small>
        </div>
      </div>

      <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="removeFile(i)">
      </button>

    </div>
  </div>

</p-card>