<p-card [header]="formConfig.name" class="card-centered-header">

  <form [formGroup]="form" class="p-fluid">

    <div class="container-form">

      @for (field of fields; track field.id) {

        <!-- CAMPO -->
        <div class="field-container">

          <!-- LABEL ARRIBA -->
          <label class="field-label">
            {{ field.name }}
          </label>

          <!-- TEXT -->
          @if (field.type === 'Text') {
            <input
              pInputText
              class="w-full"
              [formControlName]="field.var_answer" />
          }

          <!-- SELECT -->
          @if (field.type === 'Select') {
            <p-select
              [options]="field.items"
              [formControlName]="field.var_answer"
              placeholder="Seleccione"
              styleClass="w-full">
            </p-select>
          }

          <!-- RADIO -->
          @if (field.type === 'Radio') {
            <div class="radio-group">
              @for (item of field.items; track item) {
                <div class="radio-item">
                  <p-radioButton
                    [value]="item"
                    [formControlName]="field.var_answer"
                    [inputId]="field.var_answer + item">
                  </p-radioButton>
                  <label [for]="field.var_answer + item">
                    {{ item }}
                  </label>
                </div>
              }
            </div>
          }

          <!-- ERROR -->
          @if (
            form.get(field.var_answer)?.invalid &&
            form.get(field.var_answer)?.touched
          ) {
            <small class="p-error">
              Campo obligatorio
            </small>
          }

        </div>

      }

    </div>

  </form>

</p-card>
