.container-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Cada campo */
.field-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 48%; /* 2 columnas */
}

/* Label */
.field-label {
  font-weight: 500;
}

/* Radios */
.radio-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
/* Centra SOLO el header del p-card */
:host ::ng-deep .card-centered-header .p-card-title {
  text-align: center;
}

