<!-- BOTÓN CENTRADO -->
<div class="w-full flex justify-content-center align-items-center mb-4">
  <button
    pButton
    label="Firmar documento"
    icon="pi pi-pencil"
    class="p-button-lg p-button-secondary px-6"
    (click)="onSign()">
  </button>
</div>

<!-- VISOR PDF CENTRADO -->
<div class="w-full flex justify-content-center p-4">
  <div class="w-10 md:w-8 lg:w-6">

    <!-- 🔁 Forzar recarga del visor -->
    <app-pdf-preview
  *ngIf="pdfKey"
  [pdfSrc]="(facade.documents$ | async)?.[0]?.dataUrl || ''"
  (signaturePosition)="onSignatureMarked($event)">
</app-pdf-preview>


  </div>
</div>
