/* =======================
   CONTENEDOR PRINCIPAL
======================= */

.sceen-sing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Espacios reales para fixed */
  padding-top: 80px;     /* Stepper */
  padding-bottom: 72px;  /* Toolbar */
  background: #fafffd;
}

/* =======================
   STEPPER FIJO ARRIBA
======================= */

.box-steper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center; 
  align-items: center;     
}

/* =======================
   CONTENIDO SCROLLABLE
======================= */

.box-conten {
  flex: 1;
  padding: 20px 35px;
  overflow-y: auto;
}
.box-conten {
  background: #f3f7f5;
}


/* =======================
   TOOLBAR FIJO ABAJO
======================= */

.box-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 1000;
}

/* =======================
   TOOLBAR PRIME
======================= */

.toolbar-fixed {
  height: 100%;
  border-radius: 0;
  /* background: linear-gradient(135deg, #16ab6a, #0f766e); */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

/* =======================
   CARD GRADIENT
======================= */

.gradient-card {
  color: white;
  border-radius: 14px;
}
