@if (!documents || documents.length === 0) {

<p-card>
  <div class="text-center p-4 text-muted">
    <i class="pi pi-file-pdf" style="font-size: 2rem"></i>
    <p class="mt-2 mb-0">No existen documentos para mostrar</p>
  </div>
</p-card>

} @else {

<div class="container-fluid">
  <div class="row g-3">

    <!-- Sidebar documentos -->
    <div class="col-12 col-md-3">
      <p-card header="Documentos" class="h-100">

        <p-table [value]="documents" selectionMode="single" [(selection)]="selectedDoc" dataKey="name"
          class="p-datatable-sm w-90" [scrollable]="true" scrollHeight="60vh">

          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th class="text-center" style="width: 7rem">Estado</th>
              <th class="text-center" style="width: 6rem">Acción</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-doc>
            <tr [pSelectableRow]="doc">

              <!-- Nombre -->
              <td>
                <i class="pi pi-file-pdf text-danger me-2"></i>
                {{ doc.name }}
              </td>

              <!-- Estado (visual) -->
              <td class="text-center">
                <p-tag severity="warn" value="PENDIENTE"></p-tag>
              </td>

              <!-- Acción -->
              <td class="text-center">
                <button pButton icon="pi pi-check" class="p-button-sm p-button-outlined p-button-success"
                  pTooltip="Validar documento">
                </button>
                <button pButton icon="pi pi-eye" class="p-button-sm p-button-outlined p-button-info"
                  pTooltip="Ver análisis" (click)="openAnalyzeDialog(doc)">
                </button>
              </td>

            </tr>
          </ng-template>

        </p-table>



      </p-card>
    </div>

    <!-- Preview PDF -->
    <div class="col-12 col-md-9">


      <app-pdf-preview [pdfSrc]="selectedDoc.dataUrl" (signaturePosition)="onSignatureCaptured($event)">
      </app-pdf-preview>


    </div>

  </div>
</div>
}